.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    color: var(--color-neon-yellow);
}

.cd-loader {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: conic-gradient(from 0deg,
            silver 0%,
            white 25%,
            silver 50%,
            white 75%,
            silver 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spin 0.5s linear infinite;
    box-shadow: 0 0 20px var(--color-cyan);
    margin-bottom: 2rem;
    border: 5px solid rgba(255, 255, 255, 0.2);
}

.cd-inner-circle {
    width: 40px;
    height: 40px;
    background: var(--color-black);
    border-radius: 50%;
    border: 2px solid white;
}

.loading-text {
    font-family: monospace;
    font-size: 1.5rem;
    letter-spacing: 5px;
    animation: blink 0.5s infinite alternate;
}

.loading-bar-container {
    width: 300px;
    height: 20px;
    border: 2px solid var(--color-lime);
    margin-top: 1rem;
    padding: 2px;
}

.loading-bar {
    height: 100%;
    background: var(--color-lime);
    width: 0%;
    animation: load 2.5s ease-in-out forwards;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes blink {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.5;
    }
}

@keyframes load {
    0% {
        width: 0%;
    }

    20% {
        width: 10%;
    }

    50% {
        width: 40%;
    }

    80% {
        width: 80%;
    }

    100% {
        width: 100%;
    }
}