/* Track List Container */
.track-list-container {
    background: black;
    color: var(--color-neon-yellow);
    padding: 1rem;
    margin-top: 0;
    border-top: 1px dashed white;
    padding-bottom: 3rem;
    position: relative;
}

.track-list-header {
    font-family: var(--font-heading);
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    color: var(--color-cyan);
    text-shadow: 2px 2px var(--color-hot-pink);
}

.barcode {
    background: white;
    color: black;
    width: 150px;
    padding: 5px;
    text-align: center;
    margin: 2rem auto;
    font-family: monospace;
    transform: rotate(90deg);
    position: absolute;
    right: -40px;
    bottom: 50px;
}

.barcode-lines {
    height: 40px;
    background: repeating-linear-gradient(90deg,
            black 0px,
            black 2px,
            white 2px,
            white 4px,
            black 4px,
            black 5px,
            white 5px,
            white 9px);
    margin-bottom: 2px;
}