/* Track List Container */
.track-list-container {
    background: black;
    color: var(--color-neon-yellow);
    padding: 1rem;
    margin-top: 0;
    border-top: 1px dashed white;
    padding-bottom: 3rem;
    position: relative;
}

.track-list-header {
    font-family: var(--font-heading);
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    color: var(--color-cyan);
    text-shadow: 2px 2px var(--color-hot-pink);
}